<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		<%= title %>
	</title>
<link rel="stylesheet" href="/stylesheets/reset.css" />
<link rel="stylesheet" href="/stylesheets/common.css" />
<link rel="stylesheet" href="/stylesheets/<%= type %>.css" />
</head>

<body>
	<div class="mask"></div>
	<div class="sm_window"></div>
	<script src="/javascripts/axios-0.18.0.min.js"></script>
	<script src="/javascripts/tools.js"></script>
  	<script type = "module" src="/modules/pages/<%= type %>.js"></script>
  </body>

</html>