body {
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    font-family: "Arial", "Simsun", "Microsoft Yahei";
    margin: 0 auto;
}

ul li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    position: fixed;
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 45px;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    padding: 9px 50px 10px 8px;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F6F6F6;
    z-index: 999;
}

.header .search {
    width: 100%;
    height: 26px;
    border: 1px solid #999999;
    border-radius: 5px;
    font-size: 12px;
    padding-left: 25px;
    line-height: 26px;
    box-sizing: border-box;
    position: relative;
    margin-right: 50px;
    background-color: #FFFFFF;
}

.header .search::before {
    content: "";
    width: 13px;
    height: 12px;
    position: absolute;
    left: 6px;
    top: 8px;
    background: url(../images/icon.png) no-repeat -60px -280px;
    background-size: 104px 327.5px;
}

.header .login {
    display: block;
    width: 50px;
    height: 44px;
    line-height: 71px;
    color: #A6D5EF;
    text-align: center;
    position: absolute;
    font-size: 11px;
    right: 0;
    top: 0;
}

.header .login::before {
    content: "";
    width: 24px;
    height: 23px;
    background: url(../images/icon.png) no-repeat -59px -194.5px;
    background-size: 104px 327.5px;
    position: absolute;
    top: 5px;
}

.banner img {
    display: block;
    width: 100%;
    height: 108px;
    padding-top: 44px;
}

.sub_nav {
    padding: 4px;
    background-color: #F2F2F2;
    height: 380px;
    width: 100%;
    box-sizing: border-box;
}

.sub_nav .row {
    height: 90px;
    margin-bottom: 4px;
    background-color: pink;
    border-radius: 8px;
}

.sub_nav ul li {
    float: left;
    width: 33.33%;
    height: 45px;
    border-right: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    box-sizing: border-box;
    line-height: 45px;
    text-align: center;

}

.sub_nav ul li a {
    color: #FEFFFF;
    font-weight: bold;
    font-family: "Microsoft Yahei";
}

.sub_nav ul li:first-child {
    height: 90px;
    border-bottom: none;
}

.sub_nav ul:first-child {
    background-color: #FF697A;

}

.sub_nav ul:nth-child(2) {
    background-color: #3D99FF;
}

.sub_nav ul:nth-child(3) {
    background-color: #44C522;
}

.sub_nav ul:nth-child(4) {
    background-color: #FC9721;
}

.sub_nav ul li:nth-child(3),
.sub_nav ul li:nth-child(5) {
    border-right: none;
}

.sub_nav ul li:nth-child(4),
.sub_nav ul li:nth-child(5) {
    border-bottom: none;
}

.sub {
    width: 100%;
    border: 4px solid #F2F2F2;
    box-sizing: border-box;
}

.sub ul {
    width: 100%;
    height: 60px;
}

.sub ul li {
    float: left;
    width: 25%;
    text-align: center;
    height: 60px;
    line-height: 85px;
    border-right: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    box-sizing: border-box;
    color: #000000;
    font-size: 11px;
    position: relative;
}

.sub .row1 li:nth-child(4) {
    border-right: none;
}

.sub .row2 li:nth-child(4) {
    border-right: none;
}

.sub .row3 li:nth-child(4) {
    border-right: none;
}

.sub .row3 li {
    border-bottom: none;
}

.sub ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 9px;
    left: 43px;
    background: url(../images/sub.png) no-repeat;
    background-position: -0.5px -293px;
    background-size: 20px 315px;
}

.sale {
    width: 100%;
    height: 264px;
    border-top: 4px solid #F2F2F2;
    border-bottom: 4px solid #F2F2F2;
    box-sizing: border-box;
    background-color: #F2F2F2;
    position: relative;

}

.sale .hd {
    width: 100%;
    height: 45px;
    position: relative;
    background-color: #fff;
}

.sale .hd p {
    text-indent: -999em;
}

.sale .hd p::before {
    content: "";
    width: 56px;
    height: 14px;
    position: absolute;
    top: 16px;
    left: 8px;
    background: url(../images/un_home_text.png) no-repeat;
    background-size: 79px 57.5px;
}

.sale .hd span {
    display: block;
    width: 104px;
    height: 20px;
    position: absolute;
    color: #fff;
    right: 8px;
    top: 12px;
    background-color: pink;
    font-size: 12px;
    line-height: 20px;
    padding-left: 12px;
    box-sizing: border-box;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(left, #FF4D65 60%, #FF6CC5);
}

.sale .hd span::after {
    content: "";
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    position: absolute;
    margin-left: 4px;
    transform: rotate(45deg);
    top: 5px;
}


.sale .pics {
    width: 100%;
    border-right: 8px solid #fff;
    border-left: 8px solid #fff;
    height: 219px;
    border-bottom: 13px solid #fff;
    box-sizing: border-box;
    overflow: hidden;
}

.sale .pics .left {
    float: left;
    width: 50%;
    height: 205px;
    border-right: 2px solid #fff;
    position: relative;
    box-sizing: border-box;

}

.sale .left img {
    display: block;
    width: 100%;
    height: 117px;

}

.sale .left span.baokuan {
    position: absolute;
    width: 39px;
    height: 20px;
    background-color: #FE3A52;
    color:#fff;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    top: 0;
    left: 0;
     z-index: 888;
   
}
.sale .left span.baokuan::after{
    content:"";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -10px;
    border:20px solid transparent;
    border-top-color: #FE3A52;
    border-right-width: 10px;
    border-left: none;
    
  
    
    
}

.sale .left p {
    padding: 5.5px 9px 18px 8px;
    font-size: 11px;
    line-height: 20px;
    font-family: "Microsoft Yahei";

}

.sale .left i {
    margin-right: 3px;
    color: #FF495F;
}

.sale .left p span.first,
.sale .left p span.sec {
    color: #FF495F;
}

.sale .pics .right {
    float: left;
    width: 50%;
    height: 205px;
    border-left: 2px solid #fff;
    box-sizing: border-box;

}

.sale .pics .right .top {
    height: 88px;
    border-bottom: 4px solid #fff;
    padding: 9px 0 0 8px;
}

.sale .pics .right .top p {
    line-height: 20px;
    font-size: 12px;
    font-family: "Microsoft Yahei";
    position: relative;
}

.sale .pics .right .top p.red {
    color: #FC3A52;
    font-weight: bold;
}

.sale .pics .right .top p.red::after {
    content: "";
    width: 53px;
    height: 69px;
    position: absolute;
    background: url(../images/qiandaizi.png) no-repeat;
    background-size: 53.5px 71px;
    top: 19px;
    left: 131px;
}

.sale .pics .right .bottom .l {
    float: left;
    width: 50%;
    height: 112px;
    font-size: 11px;
    line-height: 19px;
    padding-top: 8px;
    text-align: center;
    color: #454346;
}

.sale .pics .right .bottom .l .bold {
    color: #6CBDFE;
    font-weight: bold;
    font-size: 12px;
}

.sale .pics .right .bottom .l p span {
    color: #6CBDFE;
    position: relative;
}

.sale .pics .right .bottom .l p span::after {
    content: "";
    width: 49px;
    height: 35px;
    background: url(../images/feiji.png) no-repeat;
    background-size: 49.5px 35px;
    position: absolute;
    top: 32px;
    left: 0px;
}

.sale .pics .right .bottom .r {
    float: left;
    width: 50%;
    height: 112px;
    border-left: 4px solid #fff;
    box-sizing: border-box;
    font-size: 11px;
    line-height: 19px;
    padding-top: 8px;
    text-align: center;
}

.sale .pics .right .bottom .r .bold {
    color: #55CA86;
    font-weight: bold;
    font-size: 12px;
}

.sale .pics .right .bottom .r p span {
    color: #55CA86;
    position: relative;
}

.sale .pics .right .bottom .r p span::after {
    content: "";
    width: 48px;
    height: 35px;
    background: url(../images/pic-tmh-03.png) no-repeat;
    background-size: 48px 35px;
    position: absolute;
    top: 32px;
    left: 0px;
}

.footer {
    width: 100%;

    border-top: 9px solid #F2F2F2;
}

.footer .hd {
    width: 100%;
    height: 44px;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    padding: 14px 0 0 8px;
    box-sizing: border-box;
    position: relative;
}

.footer .hd p {
    float: left;
    text-indent: -999em;
    width: 73px;
    height: 16px;
    background: url(../images/un_home_text.png) no-repeat 0px -19.5px;
    background-size: 79px 57.5px;
}




.footer .hd span {
    float: right;
    font-size: 12px;
    margin-right: 8px;
    padding-left: 12px;
    display: block;
    width: 102px;
    height: 20px;
    background-image: -webkit-linear-gradient(left, #FF4F64, #FC72C7);
    border-radius: 8px;
    box-sizing: border-box;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
    position: relative;
}


.footer .hd p::after {
    content: "";
    width: 36px;
    height: 16px;
    position: absolute;
    left: 82px;
    background: url(../images/icon-gg@2x.png) no-repeat;
    background-size: 36px 15px;
}
.footer .hd span::after {
    content: "";
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    top: 6px;
    left: 86px;
}

.footer .huodong {
    height: 390px;
    width: 100%;
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
}

.footer .huodong ul li {

    float: left;
    width: 50%;
    height: 130px;
    border-bottom: 2px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
    box-sizing: border-box;
    background: url(../images/ad1_2.jpg) no-repeat;

}

.footer .huodong ul li:first-child {
    height: 260px;
}

.footer .huodong ul li:nth-child(2),
.footer .huodong ul li:nth-child(3),
.footer .huodong ul li:nth-child(5) {
    border-right: none;
}

.footer .huodong ul li:nth-child(4),
.footer .huodong ul li:nth-child(5) {
    border-bottom: 1px solid #DBDBDB;
}

.footer .huodong ul li:nth-child(2) {
    background: url(../images/ad2.jpg) no-repeat;
}

.footer .huodong ul li:nth-child(3) {
    background: url(../images/ad3.jpg) no-repeat;
}

.footer .huodong ul li:nth-child(4) {
    background: url(../images/ad4.jpg) no-repeat;
}

.footer .huodong ul li:nth-child(5) {
    background: url(../images/ad5.jpg) no-repeat;
}

.lianxi {
    margin-top: 8px;
    padding-left: 78px;

    width: 100%;
    height: 50px;
    box-sizing: border-box;
    overflow: hidden;
}

.lianxi p {
    float: left;
    font-size: 10px;
    width: 33.33%;
    line-height: 70px;
    position: relative;
}

.lianxi p::before {
    content: "";
    width: 20px;
    height: 18px;
    background: url(../images/icon.png) no-repeat -60px -153.5px;
    background-size: 104px 327.5px;
    position: absolute;
    left: 17px;
}

.map {
    height: 58px;
    width: 100%;
    margin: 0 auto;
    /* padding-left: 163px; */
    padding-top: 5.5px;
    text-align: center;
    font-size: 11px;
    line-height: 22px;
    border-top: 2px solid #DBDBDB;
    color: #676767;
    box-sizing: border-box;
    background-color: #F2F2F2;
}

.map .goble {
    position: relative;
    padding-left: 12px;
}

.map .goble::before {
    content: "";
    width: 11px;
    height: 11px;
    background: url(../images/un_icon_sites.png) no-repeat 0px -160px;
    background-size: 30px 183px;
    position: absolute;
    left: -1px;
    top: 2px;
}