.tabbar {
    height: 50px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
}
.tabbar-content {
    display: flex;
}
.tabbar-item {
    flex: 1;
    font-size: 28px;
}