<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>

<body>
	<header class="header">
        <div class="container">
            <h1 class="logo">
                
                <a href="#"><img src="/images/logo.jpg" alt="">album</a>
            </h1>
            <div class="nav">
                <ul>
                    <% for(let i = 0, i < data.nav.length; i++) { %>
                        <li>
                            <a href="<%= data.nav[i].link %>">
                                <%= data.nav[i].title %>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <div class="info">
                    <div class="login"><a href="/log-in">登陆</a></div>
                    <div class="regist"><a href="/log-in">注册</a></div>
                </div>
            </div>
            </header>
</body>

</html>